/* Background image */
body {background-image: url("./images/bl.png");
    background-repeat: repeat;
}
/* header contianer color and size*/
h1 {color: green;background-color: goldenrod; height: 50px; width: 300px;}
/*paragraph container color and size*/
.parag {background-color: khaki; height: 250px;width: 600px;}
/*random number contianer color and size*/
.randomGen {background-color: green;float: left; height: 40px; width: 200px}
/*end float left for win/loss container*/
.winsLosses {clear: both;}
/*crystal container size*/
.gem { width: 60px; height: 60px;}
